*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/AndroidApp/*.iml
/AndroidApp/.gradle
/AndroidApp/local.properties
/AndroidApp/.idea/libraries
/AndroidApp/.idea/modules.xml
/AndroidApp/.idea/workspace.xml
/AndroidApp/.DS_Store
/AndroidApp/build
/AndroidApp/captures
/AndroidApp/.externalNativeBuild